*{
    padding: 0;
    margin: 0;
  }
@media(max-width: 767px) {
    body{
        background-color: antiquewhite;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    main{
        height: 60vh;
        width: 100%;
        align-items: center;
    }
    .top-main{
        height: 55%;
        width: 100%;
    
    }
    .slackDisplayName, .currentTimeUTC, .slackEmail,.currentDay, .hngLink, .keywordLink, .scrapeanywebLink, .bottom-main p{
        margin-top: 0.5rem;
        padding-left: 0.5rem;
        font-size: 20px;
        color: rgb(46, 112, 58);
        display: flex;
    }
    .slackDisplayName span, .currentTimeUTC span, .slackEmail span,.currentDay span, .hngLink a, .keywordLink a, .scrapeanywebLink a{
        color: black;
        font-size: 22px;
        text-decoration: none;
    }
    .bottom-main{
        height: 45%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom-main img{
        height: 80%;
        width: 50%;
        align-items: center;
    }
    section{
        margin-top: 1rem;
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
    }
    .section-header{
        color: rgb(46, 112, 58);
        font-size: 20px;
        font-weight: bold;
        text-align: center;

    }
    .section-content{
        width: 90%;
        font-size: 18px;
        margin-top: 1rem;
        margin-left: 2rem;

    }
}

@media (min-width: 768px) and (max-width: 1024px){
    body{
        background-color: antiquewhite;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    main{
        height: 50vh;
        width: 100%;
        align-items: center;
        display: flex;
    }
    .top-main{
        height: 100%;
        width: 100%;
    
    }
    .slackDisplayName, .currentTimeUTC,.currentDay, .slackEmail, .hngLink, .keywordLink, .scrapeanywebLink, .bottom-main p{
        margin-top: 2rem;
        padding-left: 2rem;
        font-size: 20px;
        color: rgb(46, 112, 58);
        display: flex;
    }
    .slackDisplayName span, .currentTimeUTC span,.currentDay span, .slackEmail span, .hngLink a, .keywordLink a, .scrapeanywebLink a{
        color: black;
        font-size: 22px;
        text-decoration: none;
    }
    .bottom-main{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom-main img{
        margin-top: 1rem;
        height: 55%;
        width: 70%;
        align-items: center;
    }
    section{
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }
    .section-header{
        color: rgb(46, 112, 58);
        font-size: 25px;
        font-weight: bold;
        text-align: center;

    }
    .section-content{
        width: 90%;
        font-size: 25px;
        margin-top: 1rem;
        margin-left: 3rem;

    }
}

@media (min-width: 1025px){
    body{
        background-color: antiquewhite;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    main{
        height: 50vh;
        width: 100%;
        align-items: center;
        display: flex;
    }
    .top-main{
        height: 100%;
        width: 100%;
    
    }
    .slackDisplayName, .currentTimeUTC, .slackEmail, .hngLink, .keywordLink, .scrapeanywebLink,.currentDay, .bottom-main p{
        margin-top: 1.5rem;
        padding-left: 2rem;
        font-size: 20px;
        color: rgb(46, 112, 58);
        display: flex;
        
    }
    .slackDisplayName span, .currentTimeUTC span, .currentDay span, .slackEmail span, .hngLink a, .keywordLink a, .scrapeanywebLink a{
        color: black;
        font-size: 20px;
        text-decoration: none;
        margin-left: 1rem;
    }
    .bottom-main{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom-main img{
        height: 80%;
        width: 50%;
        align-items: center;
    }
    section{
        margin-top: 1rem;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }
    .section-header{
        color: rgb(46, 112, 58);
        font-size: 25px;
        font-weight: bold;
        text-align: center;

    }
    .section-content{
        width: 90%;
        font-size: 25px;
        margin-top: 1rem;
        margin-left: 3rem;

    }
}
